.articles_title{
    font-family: PingFangSC-Light,Microsoft YaHei, sans-serif;
    text-align:center;
    font-weight: bold;
}

.articles_author{
    font-family: PingFangSC-Light,Microsoft YaHei, sans-serif;
    text-align: center;
    font-size: 18px;
}

.articles_content{
    font-family: PingFangSC-Light,Microsoft YaHei, sans-serif;
    text-indent: 2em;
    font-size: 18px;
}

#background{
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0px;
}

#main{
    display: block;
    margin: 0 auto;
    min-width: 600px;
    max-width: 900px;
    background-color: rgba(255,255,255,0.7);
}


