.articles_title{
font-family: "宋体";
text-align:center;
font-weight: bold;
font-size: 18px;
}

.articles_author{
font-family: "宋体";
text-align: center;
font-size: 18px;
line-height: 35px;
}

.articles_content{
font-family: "宋体";
text-indent: 2em;
font-size: 18px;
line-height: 25px;
}